div.carousel img{margin-left: 0;
                 margin-right: auto;}

div#map-carousel img{margin-left: 0;}

a.carousel-control.right{
  background-color: none;
  background-image: none;
}

a.carousel-control.left{
  background-color: none;
  background-image: none;
}

div#map-carousel{

  div.map-carousel-control{
    width: 100%;
  }
  
}

.carousel-control .glyphicon,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  font-size: 4em; 
}

.carousel-control .icon-next:before {
  font-size: 4em;
}

div#carousel{
  //background-color: $hostbg;
  margin: 0 20px 0 15px;
  //background-color: none;
  //background-image: url($carousel-image);
}
