//Carousel and contact
$basebg: #EEF251;
$basefg: #555;

//Description and host (host bg is a function of description bg)
$descriptionfg: #fff;





$descriptionbg: #EEF251;
$descriptionbg-image: url(cottagebg.jpg);
//$hostbg-image: url(descriptionbeach.jpg);

$hostbg: #AAB100;
$hostfg: #fff;

$askbg: #ffF;
$askfg: #000;
$availabilitybg: lighten($askbg, 20%);

$footerbg: #555;
$footerfg: #fff;

@import "base";


