//Carousel and contact
$basebg: none !default;
$basefg: none !default;

//Description and host (host bg is a function of description bg)
$descriptionbg: none !default; 
$descriptionfg: none !default;
$descriptionbg-image: none !default;
$hostbg-image: none !default;

$hostbg: none !default;
$hostfg: none !default;

$askfg: none !default;
$askbg: none !default;
$askbg-image: none !default;
$availabilitybg: none !default;
$availabilitybg-image: none !default;

$carousel-image: none !default;

