// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basebg: #555;
$descriptionbg: #C8BADB;
$contactbg: #FEC601;

html, body{height: 100%}

#carousel{background-color: $basebg;}
#carousel img{margin-left: auto; margin-right: auto;}

img.host{clear: both;}

h1 {
 padding: 5px 40px 5px 40px;
}

a.carousel-control.right{
  background-color: $basebg;
  background-image: none;
}

a.carousel-control.left{
  background-color: $basebg;
  background-image: none;
}

div.photos{

  h3{color: white;
     margin: 5px 0 5px 0;}

  background-color: $descriptionbg;
  color: black;
  font-size: 1.2em;

  div.carousel{
    margin: 0 -15px 0 -15px;
  }

  div.host{

    img{clear: both;
        padding-bottom: 5px;}

    background-color: darken($descriptionbg, 10%);
    color: white;
    padding: 15px;

    ul {
      padding: 12px;
    }

    height: 100%;

    span.drop-word{
      font-size: 2em;
      line-height: 1em;
    }

    a.btn {color: black; 
           background-color: yellow; 
           width: 100%; 
           font-size: 1.4em;
           margin: 3px 0 3px 0}

  }

}

div.find{
  background-color: $basebg;
  color: white;

  div:last-child{
    padding-left: 0px;
  }

}

div.maps{

  background-color: $basebg;
  color: white;

  img{width: 100%;
      max-width: 550px}

  h3{margin: 0}

  div.large-map{
    h3{
      padding-left: 0px;
    }
  }

  div.small-map{
    h3{
      padding-left: 10px;
    }
  }


  div{padding: 10px 0 0 0;}

}

div.contact{

  input, textarea{width: 250px;}

  div.ask{
    background-color: $contactbg;
    min-height: 200px;
  }

  div.availability{
    background-color: lighten($contactbg, 20%);
    min-height: 200px;
  }

  background-color: $basebg;

}

footer{
  height: 75px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: $basebg;
  color: white;
  padding: 0 0 0 20px;

}

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  div.find{
    div:last-child{
      padding-left: 15px;
    }
  }

  div.maps{

    div.small-map{
      h3{
        padding-left: 0px;
      }
    }

    div{
      padding-left: 10px;
    }
  }

}
 
/* Landscape phones and down */
@media (max-width: 480px) {}




