// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{height: 100%;
           font-family: 'Lato', sans-serif;}


.navbar{margin-bottom: 0px}




img.host{clear: both;}

div.title{

  margin: -20px 0 -10px 0;
  background-color: $basebg;

  h1 {
   padding: 10px 10px 10px 10px;
   font-family: 'Lato', sans-serif;
   font-weight: 100;
   font-size: 3em;
   color: #ccc;
   text-transform:lowercase;
  }

}



div.photos{

  h3{color: white;
     margin: 5px 0 5px 0;}

  background-color: $descriptionbg;
  background-image: $descriptionbg-image;

  color: $descriptionfg;
  font-size: 1.2em;

  div.carousel{
    margin: 0 -15px 0 -15px;
  }

  div.description{
    padding: 20px 10px 20px 10px;
    background-color: white;
    color: #555;
    opacity: 0.8;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  div.host{

    img{clear: both;
        padding-bottom: 5px;}

    background-color: $hostbg;
    background-image: $hostbg-image; 
    color: $hostfg;
    padding: 15px;

    ul {
      padding: 12px;
    }

    height: 100%;

    span.drop-word{
      font-size: 2em;
      line-height: 1em;
    }

    a.btn {color: black; 
           background-color: yellow; 
           width: 100%; 
           font-size: 1.4em;
           margin: 3px 0 3px 0}

  }

}

div.find{
  background-color: $basebg;
  color: $basefg;

  p{width: 80%;}

  div:last-child{
    padding-left: 0px;
  }

}

div.maps{

  background-color: $basebg;
  color: white;

  img{width: 100%;
      max-width: 550px}

  h3{margin: 0}

  div.large-map{
    h3{
      padding-left: 0px;
    }
  }

  div.small-map{
    h3{
      padding-left: 10px;
    }
  }


  div{padding: 10px 0 0 0;}

}

div.contact{

  input, textarea{width: 250px;}

  div.ask{
    background-color: $askbg;
    background-image: $askbg-image;
    min-height: 200px;
  }

  div.availability{
    background-color: $availabilitybg;
    background-image: $availabilitybg-image;
    min-height: 200px;
  }

  background-color: $basebg;
  color: $askfg;

}

footer{
  height: 75px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: $footerbg;
  color: $footerfg;
  padding: 0 0 0 20px;

}

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  div.find{
    div:last-child{
      padding-left: 15px;
    }
  }

  div.maps{

    div.small-map{
      h3{
        padding-left: 0px;
      }
    }

    div{
      padding-left: 10px;
    }
  }

}
 
/* Landscape phones and down */
@media (max-width: 480px) {}




